*{
    padding:0;
    margin:0;
}

.canvas {
    text-align: center;
    padding-top: 5rem;
    margin: auto;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.blocks {
    margin-top: 150px;
    text-align: center;
}

.button {
    border-radius: 10%;
    height:100px;
    width:100px;
    border:1px solid black;
    display:inline-flex;
    justify-content: space-evenly;
    

}

#a{
    background-color :#a0d2eb;
}

#b{
    background-color: purple;
}

#c {
    background-color :#651ee7;
}
#d{
    background-color :#8458B3;
}
#e {
    background-color :#494d5f;
}